<a href="https://colab.research.google.com/github/bpunar/PANDAS-EXERCISES/blob/main/DAwPy_Lab2_Regex_(TR).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Expressions :
***

`\d`                         Any numeric digit from `0` to `9`.
                           
`\D`                         Matches any character which is not a decimal digit. 
                           This is the opposite of `\d`.
                           
`\w`                         Any letter, numeric digit, or the underscore
                           character.  (Think of this as matching
                           "word" characters.)
                           
`\W`                         Any character that is not a letter,
                           numeric digit, or the underscore character.
                           
`\s`                         Any space, tab, or newline character.  (
                           Think of this as matching white-space
                           characters.)
                           
`\S`                         Any character that is not a space, tab,
                           or newline.
***

In [1]:
import re
import pandas as pd

- Search()

In [8]:
text ="A546oOK"
re.search("\d",text)

In [9]:
num=re.search('\d\d',text)
num

In [10]:
num.start()

1

In [11]:
num.end()

3

In [12]:
num.span()

(1, 3)

In [13]:
num.group()

'54'

In [14]:
text = "8PM_19MIN"

In [16]:
nondigi=re.search('\D',text)
nondigi

In [17]:
nondigi.group()

'P'

In [18]:
text = 'My phone number is 555 666 7777'

In [19]:
re.search('\d\d\d', text)

In [21]:
telno = re.search('\d\d\d \d\d\d \d\d\d\d', text)
telno.group()

'555 666 7777'

In [22]:
text = 'My phone number is 555-666-7777'

In [27]:
tel= re.search("\d\d\d\D\d\d\d\D\d\d\d\d", text)
tel.group()

'555-666-7777'

In [29]:
tel= re.search("\d\d\d-\d\d\d-\d\d\d\d", text)
tel.group()

'555-666-7777'

In [36]:
tel= re.search("(\d\d\d)-(\d\d\d)-(\d\d\d\d)", text)
tel.group()

'555-666-7777'

In [37]:
tel.group(1)

'555'

In [38]:
tel.group(3)

'7777'

In [34]:
telno = re.search("\d"*3 + "-" + "\d"*3 + "-" + "\d"*4, text)
tel.group()

'555-666-7777'

In [35]:
print(telno.group())

555-666-7777

- Sub()

In [39]:
phone = "2005-960-660"

In [41]:
re.sub("\D","*", phone)

'2005*960*660'

In [42]:
output=re.sub('\D','*',phone)

In [43]:
output

'2005*960*660'

In [44]:
re.sub("\d","*", phone)

'****-***-***'

In [45]:
phone = "2005-960-660"
re.sub("6", "7", phone)

'2005-970-770'

In [46]:
txt='You are good man'
x=re.sub('\s','*',txt,2)
x

'You*are*good man'

In [47]:
x=re.sub('\s','???',txt,1)
x

'You???are good man'

In [48]:
x=re.sub('\s','$$$$$$$',txt)
x

'You$$$$$$$are$$$$$$$good$$$$$$$man'

- Findall()

### Special Characters
___

``"[]"``	  A set of characters	``"[a-m]"``

``"\"``	      Signals a special sequence (can also be used to escape special characters)

``"."``	      Any character (except newline character)

``"^"``	      Starts with	``"^hello"``

``"$"``	      Ends with	``"world$"``

``"*"``	      Zero or more occurrences

`"+"`	      One or more occurrences

`"{}"`	  Exactly the specified number of occurrences

`"|"`	      Either or	`"falls|stays"`

`"()"`	  Capture and group
___

In [49]:
value='o 1 , t ,o 100. 100000000'
output=re.findall('\d{1,5}',value)
print(output)

['1', '100', '10000', '0000']

In [50]:
txt = "1 person against 100 people"
output=re.findall('\d+',txt)
print(output)

['1', '100']

In [51]:
txt = "hello world"

In [52]:
output=re.findall('^hello',txt)
print(output)

out=re.findall('world$',txt)
print(out)

['hello']
['world']

In [53]:
s = pd.Series(['a3', 'b4', 'c5', 'd'])

In [54]:
s

0    a3
1    b4
2    c5
3     d
dtype: object

In [55]:
s.str.contains("\d")

0     True
1     True
2     True
3    False
dtype: bool

In [56]:
s.str.contains("\d", regex=False)

0    False
1    False
2    False
3    False
dtype: bool

In [57]:
s.str.extract('(\d)')

     0
0    3
1    4
2    5
3  NaN

In [58]:
s = pd.Series(['a3aa', 'b4aa', 'c5aa'])
s

0    a3aa
1    b4aa
2    c5aa
dtype: object

In [59]:
s.str.extract('(\w)')

   0
0  a
1  b
2  c

In [62]:
s.str.extract('(\w)(\w)(\w)')

   0  1  2
0  a  3  a
1  b  4  a
2  c  5  a

In [63]:
s.str.extract('(\w)\d(\w)(\w)')

   0  1  2
0  a  a  a
1  b  a  a
2  c  a  a

In [64]:
s= pd.Series(['40 l/100 km (comb)', 
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)', 
       '7.8 l/100 km (comb)'])

In [65]:
s

0       40 l/100 km (comb)
1       38 l/100 km (comb)
2      6.4 l/100 km (comb)
3     8.3 kg/100 km (comb)
4     5.1 kg/100 km (comb)
5      5.4 l/100 km (comb)
6      6.7 l/100 km (comb)
7      6.2 l/100 km (comb)
8      7.3 l/100 km (comb)
9      6.3 l/100 km (comb)
10     5.7 l/100 km (comb)
11     6.1 l/100 km (comb)
12     6.8 l/100 km (comb)
13     7.5 l/100 km (comb)
14     7.4 l/100 km (comb)
15    3.6 kg/100 km (comb)
16       0 l/100 km (comb)
17     7.8 l/100 km (comb)
dtype: object

In [67]:
s.str.extract('(\d\d|\d.\d|\d)')

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

In [68]:
s.str.extract('(\d\d)')

     0
0   40
1   38
2   10
3   10
4   10
5   10
6   10
7   10
8   10
9   10
10  10
11  10
12  10
13  10
14  10
15  10
16  10
17  10

In [69]:
s.str.extract('(\d\d|\d)')

     0
0   40
1   38
2    6
3    8
4    5
5    5
6    6
7    6
8    7
9    6
10   5
11   6
12   6
13   7
14   7
15   3
16   0
17   7

In [70]:
s.str.extract('(\d.\d|\d)')

      0
0     4
1     3
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

In [72]:
s.str.extract('(\d\d|\d.\d)')

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16   10
17  7.8

In [74]:
s.str.extract('(\d*.\d*)')

      0
0   40
1   38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16   0
17  7.8

In [76]:
s.str.extract('(\d*.\d* .+/(\d*))')

             0    1
0     40 l/100  100
1     38 l/100  100
2    6.4 l/100  100
3   8.3 kg/100  100
4   5.1 kg/100  100
5    5.4 l/100  100
6    6.7 l/100  100
7    6.2 l/100  100
8    7.3 l/100  100
9    6.3 l/100  100
10   5.7 l/100  100
11   6.1 l/100  100
12   6.8 l/100  100
13   7.5 l/100  100
14   7.4 l/100  100
15  3.6 kg/100  100
16     0 l/100  100
17   7.8 l/100  100

In [ ]:
s.str.extract('(\d*.\d* .+/(\d*))')

             0    1
0     40 l/100  100
1     38 l/100  100
2    6.4 l/100  100
3   8.3 kg/100  100
4   5.1 kg/100  100
5    5.4 l/100  100
6    6.7 l/100  100
7    6.2 l/100  100
8    7.3 l/100  100
9    6.3 l/100  100
10   5.7 l/100  100
11   6.1 l/100  100
12   6.8 l/100  100
13   7.5 l/100  100
14   7.4 l/100  100
15  3.6 kg/100  100
16     0 l/100  100
17   7.8 l/100  100

In [ ]:
s.str.extract('(\d*.\d* .+/(\d*))')

             0    1
0     40 l/100  100
1     38 l/100  100
2    6.4 l/100  100
3   8.3 kg/100  100
4   5.1 kg/100  100
5    5.4 l/100  100
6    6.7 l/100  100
7    6.2 l/100  100
8    7.3 l/100  100
9    6.3 l/100  100
10   5.7 l/100  100
11   6.1 l/100  100
12   6.8 l/100  100
13   7.5 l/100  100
14   7.4 l/100  100
15  3.6 kg/100  100
16     0 l/100  100
17   7.8 l/100  100

In [79]:
results= s.str.extract('(\d*.\d*) .+/(\d*)')
results

      0    1
0    40  100
1    38  100
2   6.4  100
3   8.3  100
4   5.1  100
5   5.4  100
6   6.7  100
7   6.2  100
8   7.3  100
9   6.3  100
10  5.7  100
11  6.1  100
12  6.8  100
13  7.5  100
14  7.4  100
15  3.6  100
16    0  100
17  7.8  100

In [80]:
results[0]

0      40
1      38
2     6.4
3     8.3
4     5.1
5     5.4
6     6.7
7     6.2
8     7.3
9     6.3
10    5.7
11    6.1
12    6.8
13    7.5
14    7.4
15    3.6
16      0
17    7.8
Name: 0, dtype: object