<a href="https://colab.research.google.com/github/bpunar/PANDAS-EXERCISES/blob/main/exercise_groupby%2C_aggregate%2C_filter%2C_transform%2C_apply.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**28.01.2022**
âœˆ

**aggregate() **

In [2]:
import numpy as np
import pandas as pd

In [ ]:
rng = np.random.RandomState(0) # I don't understand why this part is not working.
df = pd.DataFrame({'key' : ['A','B', 'C', 'A', 'B' 'C'],
                   'data1' : range(6),
                   'data2' :rng.randint(0, 10, 6)},
                  columns = ['key','data1','data2'])
df

In [8]:
d = {'key': ['A', 'B', 'C', 'A','B','C'], 'data1': [0, 1, 2, 3, 4, 5], 'data2' : [5, 0, 3, 3 ,7, 9]}
df = pd.DataFrame(data=d)
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [9]:
df.groupby('key') #

In [57]:
df.groupby('key').aggregate('min') # If I don't specifically specify a column, it applies the function to all columns.

     data1  data2
key
A        0      3
B        1      0
C        2      3

In [10]:
df.groupby('key').aggregate('min','max') # Only the first function works here. others will not work. because ( ) is used. Indeed [ ] should have been used.

     data1  data2
key
A        0      3
B        1      0
C        2      3

In [53]:
df.groupby('key').aggregate(['min','max']) # Both functions work.

    data1     data2
      min max   min max
key
A       0   3     3   5
B       1   4     0   7
C       2   5     3   9

In [11]:
#df.groupby('key').aggregate('min','max', np.mean) # [] should not forget
df.groupby('key').aggregate(['min','max', np.mean])

    data1          data2
      min max mean   min max mean
key
A       0   3  1.5     3   5  4.0
B       1   4  2.5     0   7  3.5
C       2   5  3.5     3   9  6.0

In [58]:
df.groupby('key').aggregate({'data1' : 'min', # A different aggregate function can be applied to each column.
                             'data2' : 'max'})

     data1  data2
key
A        0      5
B        1      7
C        2      9

In [59]:
df.groupby('key').aggregate({'data1' : 'count', # A different aggregate function can be applied to each column.
                             'data2' : 'max'})

     data1  data2
key
A        2      5
B        2      7
C        2      9

In [61]:
df.groupby('key').aggregate({'data1' : 'count', # A different aggregate function can be applied to each column.
                             'data2' : np.mean})

     data1  data2
key
A        2    4.0
B        2    3.5
C        2    6.0

In [62]:
df.groupby('key').aggregate({'data1' : np.std, # A different aggregate function can be applied to each column.
                             'data2' : np.mean})

       data1  data2
key
A    2.12132    4.0
B    2.12132    3.5
C    2.12132    6.0

**FILTER**

In [12]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [13]:
df.groupby('key').std()

       data1     data2
key
A    2.12132  1.414214
B    2.12132  4.949747
C    2.12132  4.242641

In [16]:
# function is TRUE only B and C, so A is FALSE
def filter_func(x):
  return x['data2'].std() > 4

In [17]:
df.groupby('key').filter(filter_func)

  key  data1  data2
1   B      1      0
2   C      2      3
4   B      4      7
5   C      5      9

In [20]:
# display('df', "df.groupby('key').std()", "df.groupby('key').filter(filter_func)") #I don't understand why the tables aren't shown here, but I'm looking into it.
display(df, df.groupby('key').std(), df.groupby('key').filter(filter_func))

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

       data1     data2
key
A    2.12132  1.414214
B    2.12132  4.949747
C    2.12132  4.242641

  key  data1  data2
1   B      1      0
2   C      2      3
4   B      4      7
5   C      5      9

In [21]:
display(df, df.groupby('key').std(), df.groupby('key').filter(filter_func)) #I don't understand why the tables aren't shown here, but I'm looking into it.

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

       data1     data2
key
A    2.12132  1.414214
B    2.12132  4.949747
C    2.12132  4.242641

  key  data1  data2
1   B      1      0
2   C      2      3
4   B      4      7
5   C      5      9

In [37]:
a = df.groupby('key').filter(filter_func) # 
a.groupby('key').std()

       data1     data2
key
B    2.12132  4.949747
C    2.12132  4.242641

In [ ]:
df.groupby('key').std() # Shows all the columns by grouping, especially since a column name is not specified.

       data1     data2
key
A    2.12132  1.414214
B    2.12132  4.949747
C    2.12132  4.242641

In [104]:
df.groupby('key').aggregate({"data1":np.std}) # If I want to see a single column grouped into itself. where data1 is the column name.

       data1
key
A    2.12132
B    2.12132
C    2.12132

In [106]:
df.groupby('key').data1.std() # If I want to see a single column grouped into itself. where data1 is the column name.

key
A    2.12132
B    2.12132
C    2.12132
Name: data1, dtype: float64

TRANSFORM

In [108]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [38]:
df.groupby('key').transform(lambda x: x-x.mean())
# mean
# data1: A:1,5 B: 2.5, C:3.5
# data2: A:, B:3.5 C: 6 

#apply x-x.mean
# 0: data1 : (0-1.5=1.5), data2 = (5-4=1)
# 1: data1 : (1-2.5 =-1.5), data2=(0-3.5=-3.5)
#

   data1  data2
0   -1.5    1.0
1   -1.5   -3.5
2   -1.5   -3.0
3    1.5   -1.0
4    1.5    3.5
5    1.5    3.0

APPLY

In [39]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [56]:
def norm_by_data2(x):
  x['data1'] /= x['data2'].sum()
# x['data1'] = X['data1'] / x['data2'].sum()
  return x

In [61]:
df.groupby('key').apply(norm_by_data2)

  key     data1  data2
0   A  0.000000      5
1   B  0.142857      0
2   C  0.166667      3
3   A  0.375000      3
4   B  0.571429      7
5   C  0.416667      9

In [62]:
display(df, df.groupby('key').apply(norm_by_data2))

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

  key     data1  data2
0   A  0.000000      5
1   B  0.142857      0
2   C  0.166667      3
3   A  0.375000      3
4   B  0.571429      7
5   C  0.416667      9

In [ ]:
# 0:0/(5+3) = 0
# 1:1/(0+7) = 1 /7 = 0.142857
# 2:2/(3+9) = 2/12 = 0.166667

Specifying the split key

In [63]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [64]:
L =[0, 1, 0, 1, 2, 0]
display(df, df.groupby(L).sum())

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

   data1  data2
0      7     17
1      4      3
2      4      7

In [ ]:
#0: data1:0+2+5 = 7
#0: data2:5+3+9 = 17
#1: data1:1+3 = 4
#1: data2:0+3 = 3
#2: data1:4
#2: data2:7

Any Python Function

In [66]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [67]:
df2 = df.set_index('key')
df2

     data1  data2
key
A        0      5
B        1      0
C        2      3
A        3      3
B        4      7
C        5      9

In [68]:
df2.groupby(str.lower).mean()

   data1  data2
a    1.5    4.0
b    2.5    3.5
c    3.5    6.0

In [77]:
d = {'key': ['A', 'B', 'C', 'A','B','C'], 'data1': [3, 'B', 2, 'A','B','C'], 'data2' : [5, 2, 'E', 3 ,7, 9]}
mn = pd.DataFrame(data=d)
mn

  key data1 data2
0   A     3     5
1   B     B     2
2   C     2     E
3   A     A     3
4   B     B     7
5   C     C     9

In [78]:
L =[0, 1, 0, 1, 2, 0]
display(mn.groupby(L).sum())

   key
0  ACC
1   BA
2    B